openapi: 3.2.0
info:
  title: Data Primary Network Balances API
  description: The Data API provides web3 application developers with multi-chain data related to Avalanche's primary network, Avalanche subnets, and Ethereum. With Data API, you can easily build products that leverage real-time and historical transaction and transfer history, native and token balances, and various types of token metadata. The API is in Beta and may be subject to change.</br></br>If you have feedback or feature requests for the API, please submit them <a href="https://portal.productboard.com/dndv9ahlkdfye4opdm8ksafi/tabs/4-glacier-api">here</a>. Bug reports can be submitted <a href="https://docs.google.com/forms/d/e/1FAIpQLSeJQrcp7QoNiqozMDKrVJGX5wpU827d3cVTgF8qa7t_J1Pb-g/viewform">here</a>, and any potential security issues can be reported <a href="https://immunefi.com/bounty/avalabs">here</a>.
  version: 1.0.0
  contact: {}
servers:
- url: https://data-api.avax.network
security:
- apiKey: []
- {}
tags:
- name: Primary Network Balances
  description: Find information about balances on Avalanche's Primary Network Chains - the P-Chain, the X-Chain, and the C-Chain.
paths:
  /v1/networks/{network}/blockchains/{blockchainId}/balances:
    get:
      operationId: getBalancesByAddresses
      x-speakeasy-group: data.primaryNetwork.balances
      x-speakeasy-name-override: listByAddresses
      x-execution-weight: xl
      summary: Get balances
      description: 'Gets primary network balances for one of the Primary Network chains for the supplied addresses.


        C-Chain balances returned are only the shared atomic memory balance. For EVM balance, use the `/v1/chains/:chainId/addresses/:addressId/balances:getNative` endpoint.'
      parameters:
      - name: blockTimestamp
        required: false
        in: query
        description: An epoch timestamp in seconds. Balance will be calculated at this timestamp.
        example: '1599696000'
        schema:
          type: integer
      - name: addresses
        required: false
        in: query
        description: A comma separated list of X-Chain or P-Chain wallet addresses, starting with "avax"/"fuji", "P-avax"/"P-fuji" or "X-avax"/"X-fuji".
        example: avax1h2ccj9f5ay5acl6tyn9mwmw32p8wref8vl8ctg
        schema:
          type: string
      - name: blockchainId
        required: true
        in: path
        description: A primary network blockchain id or alias.
        example: p-chain
        schema:
          $ref: '#/components/schemas/BlockchainId'
      - name: network
        required: true
        in: path
        description: Either mainnet or testnet/fuji.
        example: mainnet
        schema:
          $ref: '#/components/schemas/Network'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ListPChainBalancesResponse'
                - $ref: '#/components/schemas/ListXChainBalancesResponse'
                - $ref: '#/components/schemas/ListCChainAtomicBalancesResponse'
        '400':
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '401':
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '429':
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        '500':
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '502':
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGateway'
        '503':
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
      tags:
      - Primary Network Balances
components:
  schemas:
    BadGateway:
      type: object
      properties:
        message:
          description: The error message describing the reason for the exception
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        statusCode:
          type: number
          description: The HTTP status code of the response
          examples:
          - 502
        error:
          type: string
          description: The type of error
          examples:
          - Bad Gateway
      required:
      - message
      - statusCode
      - error
    PrimaryNetworkChainName:
      type: string
      enum:
      - p-chain
      - x-chain
      - c-chain
    XChainBalances:
      type: object
      properties:
        locked:
          description: A list of objects containing X-chain Asset balance information.
          type: array
          items:
            $ref: '#/components/schemas/AggregatedAssetAmount'
        unlocked:
          description: A list of objects containing X-chain Asset balance information.
          type: array
          items:
            $ref: '#/components/schemas/AggregatedAssetAmount'
        atomicMemoryUnlocked:
          type: array
          items:
            $ref: '#/components/schemas/XChainSharedAssetBalance'
        atomicMemoryLocked:
          type: array
          items:
            $ref: '#/components/schemas/XChainSharedAssetBalance'
      required:
      - locked
      - unlocked
      - atomicMemoryUnlocked
      - atomicMemoryLocked
    ListCChainAtomicBalancesResponse:
      type: object
      properties:
        balances:
          $ref: '#/components/schemas/CChainAtomicBalances'
        chainInfo:
          $ref: '#/components/schemas/PrimaryNetworkChainInfo'
      required:
      - balances
      - chainInfo
    PrimaryNetworkAssetType:
      type: string
      description: Type of asset like SECP256K1 or NFT.
      enum:
      - secp256k1
      - nft
    Unauthorized:
      type: object
      properties:
        message:
          description: The error message describing the reason for the exception
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        statusCode:
          type: number
          description: The HTTP status code of the response
          examples:
          - 401
        error:
          type: string
          description: The type of error
          examples:
          - Unauthorized
      required:
      - message
      - statusCode
      - error
    ServiceUnavailable:
      type: object
      properties:
        message:
          description: The error message describing the reason for the exception
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        statusCode:
          type: number
          description: The HTTP status code of the response
          examples:
          - 503
        error:
          type: string
          description: The type of error
          examples:
          - Service Unavailable
      required:
      - message
      - statusCode
      - error
    NotFound:
      type: object
      properties:
        message:
          description: The error message describing the reason for the exception
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        statusCode:
          type: number
          description: The HTTP status code of the response
          examples:
          - 404
        error:
          type: string
          description: The type of error
          examples:
          - Not Found
      required:
      - message
      - statusCode
      - error
    XChainSharedAssetBalance:
      type: object
      properties:
        assetId:
          type: string
          description: Unique ID for an asset.
          examples:
          - th5aLdWLi32yS9ED6uLGoMMubqHjzMsXhKWwzP6yZTYQKYzof
        name:
          type: string
          description: Name of this asset.
          examples:
          - Avalanche
        symbol:
          type: string
          description: Symbol for this asset (max 4 characters).
          examples:
          - AVAX
        denomination:
          type: number
          description: Denomination of this asset to represent fungibility.
          examples:
          - 9
        type:
          examples:
          - secp256k1
          $ref: '#/components/schemas/PrimaryNetworkAssetType'
        amount:
          type: string
          description: Amount of the asset.
          examples:
          - '5001000'
        utxoCount:
          type: number
          examples:
          - 1
        sharedWithChainId:
          type: string
      required:
      - assetId
      - name
      - symbol
      - denomination
      - type
      - amount
      - utxoCount
      - sharedWithChainId
    ListPChainBalancesResponse:
      type: object
      properties:
        balances:
          $ref: '#/components/schemas/PChainBalance'
        chainInfo:
          $ref: '#/components/schemas/PrimaryNetworkChainInfo'
      required:
      - balances
      - chainInfo
    CChainAtomicBalances:
      type: object
      properties:
        atomicMemoryUnlocked:
          type: array
          items:
            $ref: '#/components/schemas/CChainSharedAssetBalance'
        atomicMemoryLocked:
          type: array
          items:
            $ref: '#/components/schemas/CChainSharedAssetBalance'
      required:
      - atomicMemoryUnlocked
      - atomicMemoryLocked
    TooManyRequests:
      type: object
      properties:
        message:
          description: The error message describing the reason for the exception
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        statusCode:
          type: number
          description: The HTTP status code of the response
          examples:
          - 429
        error:
          type: string
          description: The type of error
          examples:
          - Too Many Requests
      required:
      - message
      - statusCode
      - error
    CChainSharedAssetBalance:
      type: object
      properties:
        assetId:
          type: string
          description: Unique ID for an asset.
          examples:
          - th5aLdWLi32yS9ED6uLGoMMubqHjzMsXhKWwzP6yZTYQKYzof
        name:
          type: string
          description: Name of this asset.
          examples:
          - Avalanche
        symbol:
          type: string
          description: Symbol for this asset (max 4 characters).
          examples:
          - AVAX
        denomination:
          type: number
          description: Denomination of this asset to represent fungibility.
          examples:
          - 9
        type:
          examples:
          - secp256k1
          $ref: '#/components/schemas/PrimaryNetworkAssetType'
        amount:
          type: string
          description: Amount of the asset.
          examples:
          - '5001000'
        utxoCount:
          type: number
          examples:
          - 1
        sharedWithChainId:
          type: string
      required:
      - assetId
      - name
      - symbol
      - denomination
      - type
      - amount
      - utxoCount
      - sharedWithChainId
    PChainSharedAsset:
      type: object
      properties:
        assetId:
          type: string
          description: Unique ID for an asset.
          examples:
          - th5aLdWLi32yS9ED6uLGoMMubqHjzMsXhKWwzP6yZTYQKYzof
        name:
          type: string
          description: Name of this asset.
          examples:
          - Avalanche
        symbol:
          type: string
          description: Symbol for this asset (max 4 characters).
          examples:
          - AVAX
        denomination:
          type: number
          description: Denomination of this asset to represent fungibility.
          examples:
          - 9
        type:
          examples:
          - secp256k1
          $ref: '#/components/schemas/PrimaryNetworkAssetType'
        amount:
          type: string
          description: Amount of the asset.
          examples:
          - '5001000'
        utxoCount:
          type: number
          examples:
          - 1
        sharedWithChainId:
          type: string
          examples:
          - 2oYMBNV4eNHyqk2fjjV5nVQLDbtmNJzq5s3qs3Lo6ftnC6FByM
        status:
          type: string
      required:
      - assetId
      - name
      - symbol
      - denomination
      - type
      - amount
      - utxoCount
      - sharedWithChainId
      - status
    BadRequest:
      type: object
      properties:
        message:
          description: The error message describing the reason for the exception
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        statusCode:
          type: number
          description: The HTTP status code of the response
          examples:
          - 400
        error:
          type: string
          description: The type of error
          examples:
          - Bad Request
      required:
      - message
      - statusCode
      - error
    Forbidden:
      type: object
      properties:
        message:
          description: The error message describing the reason for the exception
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        statusCode:
          type: number
          description: The HTTP status code of the response
          examples:
          - 403
        error:
          type: string
          description: The type of error
          examples:
          - Forbidden
      required:
      - message
      - statusCode
      - error
    Network:
      type: string
      enum:
      - mainnet
      - fuji
      - testnet
    AggregatedAssetAmount:
      type: object
      properties:
        assetId:
          type: string
          description: Unique ID for an asset.
          examples:
          - th5aLdWLi32yS9ED6uLGoMMubqHjzMsXhKWwzP6yZTYQKYzof
        name:
          type: string
          description: Name of this asset.
          examples:
          - Avalanche
        symbol:
          type: string
          description: Symbol for this asset (max 4 characters).
          examples:
          - AVAX
        denomination:
          type: number
          description: Denomination of this asset to represent fungibility.
          examples:
          - 9
        type:
          examples:
          - secp256k1
          $ref: '#/components/schemas/PrimaryNetworkAssetType'
        amount:
          type: string
          description: Amount of the asset.
          examples:
          - '5001000'
        utxoCount:
          type: number
          examples:
          - 1
      required:
      - assetId
      - name
      - symbol
      - denomination
      - type
      - amount
      - utxoCount
    BlockchainId:
      type: string
      enum:
      - 11111111111111111111111111111111LpoYY
      - 2oYMBNV4eNHyqk2fjjV5nVQLDbtmNJzq5s3qs3Lo6ftnC6FByM
      - 2JVSBoinj9C2J33VntvzYtVJNZdN2NKiwwKjcumHUWEb5DbBrm
      - 2q9e4r6Mu3U68nU1fYjgbR6JvwrRx36CohpAX5UQxse55x1Q5
      - yH8D7ThNJkxmtkuv2jgBa4P1Rn3Qpr4pPr7QYNfcdoS6k6HWp
      - p-chain
      - x-chain
      - c-chain
    PrimaryNetworkChainInfo:
      type: object
      properties:
        chainName:
          $ref: '#/components/schemas/PrimaryNetworkChainName'
        network:
          $ref: '#/components/schemas/Network'
      required:
      - chainName
      - network
    ListXChainBalancesResponse:
      type: object
      properties:
        balances:
          $ref: '#/components/schemas/XChainBalances'
        chainInfo:
          $ref: '#/components/schemas/PrimaryNetworkChainInfo'
      required:
      - balances
      - chainInfo
    InternalServerError:
      type: object
      properties:
        message:
          description: The error message describing the reason for the exception
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        statusCode:
          type: number
          description: The HTTP status code of the response
          examples:
          - 500
        error:
          type: string
          description: The type of error
          examples:
          - Internal Server Error
      required:
      - message
      - statusCode
      - error
    PChainBalance:
      type: object
      properties:
        unlockedUnstaked:
          description: A list of objects containing P-chain Asset basic info, amount,  and utxo count of that Asset ID.  Denotes the amount of unstaked Avax that is consumable by any transaction.
          type: array
          items:
            $ref: '#/components/schemas/AggregatedAssetAmount'
        unlockedStaked:
          description: A list of objects containing P-chain Asset basic info, amount,  and utxo count of that Asset ID.  Denotes the amount of staked Avax that is consumable by any transaction when the staking period ends.
          type: array
          items:
            $ref: '#/components/schemas/AggregatedAssetAmount'
        lockedPlatform:
          description: A list of objects containing P-chain Asset basic info, amount,  and utxo count of that Asset ID.  Denotes the amount of unstaked Avax that is locked at the platform level and not consumable by any transaction at the current time.
          type: array
          items:
            $ref: '#/components/schemas/AggregatedAssetAmount'
        lockedStakeable:
          description: A list of objects containing P-chain Asset basic info, amount,  and utxo count of that Asset ID.  Denotes the amount of unstaked Avax that is locked at the platform level and only consumeable for staking transactions.
          type: array
          items:
            $ref: '#/components/schemas/AggregatedAssetAmount'
        lockedStaked:
          description: A list of objects containing P-chain Asset basic info, amount,  and utxo count of that Asset ID.  Denotes the amount of staked Avax that will be locked when the staking period ends.
          type: array
          items:
            $ref: '#/components/schemas/AggregatedAssetAmount'
        pendingStaked:
          description: A list of objects containing P-chain Asset basic info, amount,  and utxo count of that Asset ID.  Denotes the amount of staked Avax whose staking period has not yet started.
          type: array
          items:
            $ref: '#/components/schemas/AggregatedAssetAmount'
        atomicMemoryUnlocked:
          description: A list of objects containing P-chain Asset basic info, amount and utxo count of that Asset ID. Denotes the amount of unlocked Avax in the atomic memory between P-Chain and other chain.
          type: array
          items:
            $ref: '#/components/schemas/PChainSharedAsset'
        atomicMemoryLocked:
          description: A list of objects containing P-chain Asset basic info, amount and utxo count of that Asset ID. Denotes the amount of locked Avax in the atomic memory between P-Chain and other chain.
          type: array
          items:
            $ref: '#/components/schemas/PChainSharedAsset'
      required:
      - unlockedUnstaked
      - unlockedStaked
      - lockedPlatform
      - lockedStakeable
      - lockedStaked
      - pendingStaked
      - atomicMemoryUnlocked
      - atomicMemoryLocked
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-glacier-api-key
      description: Api keys provide higher access to rate limits. To obtain an api key, sign up for an account at  https://build.avax.network/console/utilities/data-api-keys.
x-speakeasy-retries:
  strategy: backoff
  backoff:
    initialInterval: 500
    maxInterval: 60000
    maxElapsedTime: 120000
    exponent: 1.5
  statusCodes:
  - 5XX
  retryConnectionErrors: true
x-speakeasy-globals:
  parameters:
  - $ref: '#/components/parameters/GlobalParamChainId'
  - $ref: '#/components/parameters/GlobalParamNetwork'
x-execution-weight-values:
  free: 1
  large: 50
  medium: 20
  none: 0
  small: 10
  xl: 100
  xxl: 200
x-rpc-method-execution-weights:
  eth_accounts: free
  eth_blockNumber: small
  eth_call: small
  eth_coinbase: small
  eth_chainId: free
  eth_gasPrice: small
  eth_getBalance: small
  eth_getBlockByHash: small
  eth_getBlockByNumber: small
  eth_getBlockTransactionCountByNumber: medium
  eth_getCode: medium
  eth_getLogs: xxl
  eth_getStorageAt: medium
  eth_getTransactionByBlockNumberAndIndex: medium
  eth_getTransactionByHash: small
  eth_getTransactionCount: small
  eth_getTransactionReceipt: small
  eth_signTransaction: medium
  eth_sendTransaction: medium
  eth_sign: medium
  eth_sendRawTransaction: small
  eth_syncing: free
  net_listening: free
  net_peerCount: medium
  net_version: free
  web3_clientVersion: small
  web3_sha3: small
  eth_newPendingTransactionFilter: medium
  eth_maxPriorityFeePerGas: small
  eth_baseFee: small
  rpc_modules: free
  eth_getChainConfig: small
  eth_feeConfig: small
  eth_getActivePrecompilesAt: small
x-speakeasy-webhooks:
  security:
    type: signature
    headerName: x-signature
    signatureTextEncoding: base64
    algorithm: hmac-sha256
